<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZHK.ZHKSocial-Example</key>
	<dict>
		<key>kUMengSocialAppKey</key>
		<string>59f31a668f4a9d7f7b000071</string>
		<key>kUMengChannelKey</key>
		<string></string>
		<key>kPlaforms</key>
		<array>
			<dict>
				<key>name</key>
				<string>sina</string>
				<key>enable</key>
				<true/>
				<key>kPlatformType</key>
				<integer>0</integer>
				<key>kAppKey</key>
				<string>1979664571</string>
				<key>kAppSecret</key>
				<string>ff3869535f0ffc02ff3dabeaffabe0f7</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WechatSession</string>
				<key>enable</key>
				<true/>
				<key>kPlatformType</key>
				<integer>1</integer>
				<key>kAppKey</key>
				<string>wx1f6939afead57681</string>
				<key>kAppSecret</key>
				<string>7a596c6df257980a6d06ff111e8c2b51</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WechatTimeLine</string>
				<key>enable</key>
				<true/>
				<key>kPlatformType</key>
				<integer>2</integer>
				<key>kAppKey</key>
				<string>wx1f6939afead57681</string>
				<key>kAppSecret</key>
				<string>7a596c6df257980a6d06ff111e8c2b51</string>
			</dict>
			<dict>
				<key>name</key>
				<string>QQ</string>
				<key>enable</key>
				<false/>
				<key>kPlatformType</key>
				<integer>4</integer>
				<key>kAppKey</key>
				<string>1106665670</string>
				<key>kAppSecret</key>
				<string>I5LAS7I0acDQVDW9</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Qzone</string>
				<key>enable</key>
				<true/>
				<key>kPlatformType</key>
				<integer>5</integer>
				<key>kAppKey</key>
				<string>1106665670</string>
				<key>kAppSecret</key>
				<string>I5LAS7I0acDQVDW9</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
